*{
			margin: 0;
			padding: 0;
			font-size:18px;
		}
		body{
			background:url('../image/jdbg.jpg') no-repeat center center;
			background-size:cover;
			background-attachment:fixed;
		}
		
		#username{
			margin-top:150px;
			
		}
		#password{
			margin-top:80px;
		}
		.logintable{
			position: absolute;
			top: 150px;
			left: 60%;
			background: white;
			width: 400px;
			height:450px;
			text-align: center;
		}
		#submitbtn{
			width: 200px;
			height: 30px;
			border: 0px;
			border-radius: 10px;
			background:#e4393c;
			margin-top:40px;
		}
		table>input{
			width: 250px;
			height: 30px;
		}
		
		.img{
			position:absolute;
			top:100px;
			left:50px;
		}
		header{
			height:80px;
			background:black;
		}