<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.yang.mapper.CategoryMapper">
  	<select id="selectCategory" resultType="category">
  		select * from category
  	</select>
  	<insert id="insertCategory" parameterType="category">
  		insert into category values(default,#{name},#{parentId},#{pinyin},#{grade},#{createTime})
  	</insert>
  	<delete id="deleteCategory" parameterType="category">
  		delete from category where name=#{name} or parentId=#{id}
  	</delete>
  	<select id="selectCategoryByName" parameterType="String" resultType="category">
  		select * from category where name=#{name}
  	</select>
  	<select id="selectCategoryById"  parameterType="int" resultType="category">
  		select * from category where id=#{id}
  	</select>
  	<select id="selectCategoryByGrade" parameterType="int" resultType="category">
  		select * from category where grade=#{grade}
  	</select>
  </mapper>