<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.yang.mapper.OrdersMapper">
  	<select id="selectOrdersInfoByPage" resultType="OrdersInfo">
  		select orderId,order_id,order_status,order_totalPrice,orders.specification_id,addressee_name,addressee_phone,addressee_address,phone,orders.createTime as createTime,orders.updateTime as updateTime from orders,product,productspecification,addressee,users where orders.addressee_id=addressee.addressee_id
		and orders.specification_id=productspecification.specification_id and product.product_id=productspecification.product_id  and users.id=addressee.id
		<if test="phone!=null and phone!=''">
			and phone=#{phone}
		</if>
		 order by orderId limit #{startPage},#{limit}
  	</select>
  	
  	<select id="selectOrdersInfoByPageAndCondition" resultType="OrdersInfo">
  		select *  from (select orderId,order_id,order_status,order_totalPrice,orders.specification_id,addressee_name,addressee_phone,addressee_address,phone,orders.createTime as createTime,orders.updateTime as updateTime from orders,product,productspecification,addressee,users where orders.addressee_id=addressee.addressee_id
		and orders.specification_id=productspecification.specification_id and product.product_id=productspecification.product_id  and users.id=addressee.id and(orders.order_id=#{condition} or users.phone=#{condition} or orders.createTime like concat('%',#{condition},'%') or orders.order_status=#{condition})) ordersinfo order by orderId limit #{startPage},#{limit}
  	</select>
  	<select id="selectMyOrdersInfoByPageAndCondition" resultType="OrdersInfo">
  		select *  from (select orderId,order_id,order_status,order_totalPrice,orders.specification_id,addressee_name,addressee_phone,addressee_address,phone,orders.createTime as createTime,orders.updateTime as updateTime from orders,product,productspecification,addressee,users where orders.addressee_id=addressee.addressee_id
		and orders.specification_id=productspecification.specification_id and product.product_id=productspecification.product_id  and users.id=addressee.id and users.phone=#{phone}
		<if test="beginTime!='' and endTime!=null and beginTime!='' and endTime!=null">
			and orders.createTime between #{beginTime} and #{endTime}
		</if>
		<if test="status!=null and status!=''">
			and orders.order_status=#{status}
		</if>
		 )ordersinfo order by orderId limit #{startPage},#{limit}
  	</select>
  	<update id="updateOrder">
  		update orders set order_status=#{order_status} where order_id=#{order_id}
  	</update>
  	<select id="selectCountByCondition" parameterType="String" resultType="int">
  		select count(*)  from (select orderId,order_id,order_status,order_totalPrice,orders.specification_id,addressee_name,addressee_phone,addressee_address,phone,orders.createTime as createTime,orders.updateTime as updateTime from orders,product,productspecification,addressee,users where orders.addressee_id=addressee.addressee_id
		and orders.specification_id=productspecification.specification_id and product.product_id=productspecification.product_id  and users.id=addressee.id and(orders.order_id=#{condition} or users.phone=#{condition} or orders.createTime like concat('%',#{condition},'%') or orders.order_status=#{condition}))
  	</select>
  	<select id="selectCount" resultType="int">
  		select count(*) from (select orderId,order_id,order_status,order_totalPrice,product_name,product_color,product_specification,product_thumbnail,price,addressee_name,addressee_phone,addressee_address,phone,orders.createTime as createTime,orders.updateTime as updateTime from orders,product,productspecification,addressee,users where orders.addressee_id=addressee.addressee_id
		and orders.specification_id=productspecification.specification_id and product.product_id=productspecification.product_id  and users.id=addressee.id) ordersinfo
  	</select>
  	<select id="selectMyOrdersCountByCondition" parameterType="String" resultType="int">
  		select count(*)  from (select orderId,order_id,order_status,order_totalPrice,orders.specification_id,addressee_name,addressee_phone,addressee_address,phone,orders.createTime as createTime,orders.updateTime as updateTime from orders,product,productspecification,addressee,users where orders.addressee_id=addressee.addressee_id
		and orders.specification_id=productspecification.specification_id and product.product_id=productspecification.product_id  and users.id=addressee.id and phone=#{phone}
		<if test="beginTime!='' and endTime!=null and beginTime!='' and endTime!=null">
			and orders.createTime between #{beginTime} and #{endTime}
		</if>
		<if test="status!=null and status!=''">
			and orders.order_status=#{status}
		</if>)orderinfos
  	</select>
  	<select id="selectMyOrdersCount" resultType="int">
  		select count(*) from (select orderId,order_id,order_status,order_totalPrice,product_name,product_color,product_specification,product_thumbnail,price,addressee_name,addressee_phone,addressee_address,phone,orders.createTime as createTime,orders.updateTime as updateTime from orders,product,productspecification,addressee,users where orders.addressee_id=addressee.addressee_id
		and orders.specification_id=productspecification.specification_id and product.product_id=productspecification.product_id  and users.id=addressee.id) ordersinfo where phone=#{phone}
  	</select>
  	<insert id="insertOrders" parameterType="orders">
  		insert into orders values(default,#{order_id},#{addressee_id},#{order_status},#{order_totalPrice},#{specification_id},#{createTime},#{updateTime})
  	</insert>
  	<select id="selectSpecificationIdByPhone" resultType="String">
  		select specification_id from orders,users,addressee where orders.addressee_id=addressee.addressee_id and users.id=addressee.id and users.phone=#{phone} and orders.order_status="已收货" and orders.createTime between #{beginTime} and #{endTime}
  	</select>
  	<update id="updateOrderStatus" >
  		update orders set order_status="已完成"  where order_status="已收货" and specification_id like concat('%',#{specificationId},'%') and orders.createTime between #{beginTime} and #{endTime} 
  	</update>
  	<select id="selectSpecificationIdByOrderId"  resultType="String">
  		select specification_id from orders,users,addressee where orders.addressee_id=addressee.addressee_id and users.id=addressee.id and orders.order_id=#{orderId} and orders.order_status="已收货" and orders.createTime between #{beginTime} and #{endTime}
  	</select>
  </mapper>